@import "variables";
@import "vendor/bootstrap/bootstrap";
@import "typography";

@import "components/simple-hero";
@import "components/content-section";


.wrapper {
  overflow: hidden;
}

// scss-lint:disable all
.mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email], .mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date], .mktoForm select.mktoField, .mktoForm textarea.mktoField {
  box-shadow: none !important;
}

// scss-lint:disable all
.mktoForm .mktoButtonWrap.mktoGlow .mktoButton {
  box-shadow: none !important;
  background-color: $color-primary !important;
  border: 0 !important;
  padding: 8px 12px !important;
  background-image: none !important;

  &:hover {
    background-color: $color-primary-dark !important;
    border: 0 !important;
  }
}
