.callout.gitlab-trial
  %h2
    Try GitLab Ultimate risk-free for 30 days.
  %p
    No credit card required. Have questions?
    %a{href: "/sales/"} Contact us.
  %a.btn.btn-red{ href: "/free-trial/" } Get Your Free Trial Today
