## Categories

There are a few categories that are critical for success in this stage; each one
is intended to represent what you might find as an entire product out in the
market. If you have thoughts or questions on any of these, feel free to jump
into the conversation in the vision epic.

<% data.categories.each do |categoryKey, category| %>
  <% next unless (category.stage == stageKey) %>
  <% l = [] %>
  <% l << "[Learn more](#{category.marketing_page})" if category.marketing_page %>
  <% l << "[Documentation](#{category.documentation})" if category.documentation %>
  <% l << "[Vision](#{category.vision})" if category.vision %>
##### <%= category.name %>
<%= category.description + "  " unless category.description.blank? %>
<%= l.join(' • ') unless l.empty? %>

<% end %>
